body{
        background: #ffffff;
        font-family: Arial, sans-serif;
        padding: 40px;
    }

    input{
        display: block;
        width: 250px;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button{
        padding: 8px 15px;
        background: green;
        color: white;
        border: none;
        border-radius: 5px;
    }

    h2{
        margin-top: 30px;
    }